[Unit]
Description=Create an empty-password KWallet for passwordless users
PartOf=graphical-session.target
After=plasma-kwallet-pam.service
Before=xdg-desktop-autostart.target

[Service]
Type=forking
ExecStart=/usr/libexec/yaguarete-empty-password-kwallet
TimeoutStartSec=15

[Install]
WantedBy=plasma-workspace.target
