[Unit]
Description=Anatase Gamemode Session
After=flatpak-portal.service flatpak-session-helper.service xdg-desktop-portal.service

[Service]
Type=exec
ExecStart=/usr/libexec/anatase-gamemode
SuccessExitStatus=143
KillMode=mixed
Slice=session.slice
