[Desktop Entry]
Type=Application
Name=YaguareteOS Installer
Exec=liveinst
Terminal=false
Icon=/usr/share/icons/hicolor/256x256/apps/yaguarete-logo-icon.png
StartupNotify=true
X-GNOME-Autostart-enabled=true
